html, body{
    margin: auto;
    padding: auto;
}
.father{
    background-color: rgb(237,215,240);
    display: flex;
    height: 500px;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}
.child{
    background-color: rgb(255,239,222);
    border: 3px solid pink;
    border-radius: 10%;
    border-style: inset;
}
.flex{
    display: flex;
}