html, body{
    margin: 1%;
    padding: 1%;
}

.father{
    align-items: flex-start;
    align-content: flex-end;
    background-color: rgb(237,187,170);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: flex-start;
    margin: auto;
    width: 75%;
}
.child{
    background-color: rgb(129, 200, 218);
    color: rgb(0, 0, 0);
    border: 2px solid gray;
    border-radius: 30px;
    border-style: inset;
}

.flex{
    display: flex;
}